fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn[standard]>=0.24.0,<0.27.1
aiofiles
python-multipart
GPUtil
hydra-core
scipy
matplotlib
pytorch-wavelets
PyWavelets
# torch>=2.1.0,<2.2.0
# torchvision>=0.16.0,<0.17.0
