fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn[standard]>=0.24.0,<0.27.1
aiofiles
python-multipart
GPUtil
hydra-core
scipy
matplotlib
datasets
tokenizers
transformers
# pytorch==1.10.1
torchvision
# cudatoolkit==11.3
torchvision
scipy
scikit-learn
scikit-image
tensorboard
torchtext
transformers
datasets
tensorflow
lpips